* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    height: 100vh;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.inputField {
    width:30vw;
    height:2vw;
}

.invalid {
    color: red;
}

.phoneFormat {
    display: none;
}

.block {
    display: block;
}